main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;             
}
/* top and bottom padding */

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.photo {
  height: 280px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image{
  height:500px;
  width:370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buton{
   margin-top: 10px;
}

.step{
  font-size: 0.91rem;
}

.button{
  margin-top: 20px ;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}